/* Common CSS Start */
:root {
  --font-color1: #353535;
  --font-color2: #7a7a7a;
  --font-color3: #bbb9b9;
  --font-color4: white;
  --ancor-button-hover-color: #ffcc00;
  --prymary-font: "Poppins", sans-serif;
  --heading-font: "PT Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--prymary-font);
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
button {
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

img {
  display: block;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-align {
  text-align: center;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.button {
  width: 171px;
  height: 63px;
  font-size: 18px;
  line-height: 66px;
  border: 1px solid #000000;
  border-radius: 20px;
}
/* Common CSS End */

/* NavBar Start */
#NavBar {
  margin-bottom: 60px;
}

#NavBar ul li a {
  color: var(--font-color1);
  font-size: 15px;
  line-height: 2;
  padding: 18px 28px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

#NavBar ul li a:hover {
  border-bottom: 1px solid var(--font-color1);
}
/* NavBar End */

/* NavBar Start */
#NavBar {
  margin-bottom: 60px;
}

#NavBar ul li a {
  color: var(--font-color1);
  font-size: 15px;
  line-height: 2;
  padding: 18px 28px;
  position: relative;
}

#NavBar ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--font-color1);
  transition: 0.5s;
}

#NavBar ul li a:hover::before {
  width: 100%;
  left: 0;
}
/* NavBar End */

/* Banner Start */
#Banner .container {
  background: url(../img/blogs/banner-img1.png);
  height: 180px;
  color: var(--font-color4);
  text-align: center;
  align-items: center;
  margin-bottom: 70px;
}

#Banner .container h1 {
  font-size: 46px;
  padding-top: 40px;
}
#Banner .container h3 {
  font-size: 18px;
  line-height: 1.9;
  padding-top: 7px;
  position: relative;
}

#Banner .container h3::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 2px;
  left: 23%;
  top: 50%;
  transform: translateY(50%);
  background-color: var(--font-color4);
}

#Banner .container h3::after {
  content: "";
  position: absolute;
  width: 84px;
  height: 2px;
  right: 23%;
  top: 50%;
  transform: translateY(50%);
  background-color: var(--font-color4);
}
/* Banner End */

/* Digital-Marketing Start */
#Digital-Marketing .container {
  margin-bottom: 100px;
}

#Digital-Marketing .container .row {
  font-size: 18px;
  line-height: 2;
  color: var(--font-color2);
}

#Digital-Marketing .container .row h3 {
  font-size: 30px;
  line-height: 1.7;
  color: var(--font-color1);
  margin-bottom: 15px;
}

#Digital-Marketing .container .row a {
  color: var(--font-color1);
}

#Digital-Marketing .row .marketing-details {
  padding-left: 25px;
}

#Digital-Marketing .marketing-details .row {
  margin-top: 35px;
}
/* Digital-Marketing End */

/* Marketing-Stategies Start */
#Marketing-Stategies .row {
  font-size: 16px;
  line-height: 2;
  color: var(--font-color2);
}

#Marketing-Stategies .row h4 {
  font-size: 20px;
  color: var(--font-color1);
  margin: 35px 0px 9px 0px;
}

#Marketing-Stategies .row a {
  color: var(--font-color1);
}

#Marketing-Stategies .w-32 {
  margin-bottom: 95px;
}

#Marketing-Stategies .w-32 .row {
  margin-top: 18px;
}

#Marketing-Stategies .stategies-details a {
  position: relative;
}

#Marketing-Stategies .stategies-details i {
  color: var(--font-color4);
  font-size: 40px;
  position: absolute;
  transform: rotate(-45deg);
}

#Marketing-Stategies .stategies-details .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Marketing-Stategies .stategies-details a:hover .overlay {
  opacity: 1;
}
/* Marketing-Stategies End */

/* Footer Start */
footer {
  background-color: #575757;
  line-height: 1.8;
  margin-top: 40px;
}

footer h3 {
  color: var(--font-color4);
  line-height: 2;
  font-size: 36px;
  font-weight: 700;
}

footer p {
  color: var(--font-color3);
}
footer a {
  color: var(--font-color4);
}

footer .footer-top {
  padding-top: 70px;
}

footer .footer-bottom {
  padding: 85px 0px;
  align-items: center;
}

footer .footer-top p {
  font-size: 16px;
}

footer .footer-bottom p {
  font-size: 18px;
}

footer .footer-bottom a {
  transition: 0.5s;
}

footer .footer-bottom a:hover {
  color: var(--ancor-button-hover-color);
}

footer .footer-part1 {
  width: 30%;
}

footer .footer-part2 {
  width: 40%;
}

footer .footer-part3 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .footer-top .footer-part1 a {
  height: 0px;
}

footer .footer-top .footer-part3 a {
  font-size: 18px;
  background-color: var(--ancor-button-hover-color);
  border-radius: 16px;
  padding: 15px 32px;
  transition: 0.5s;
}

footer .footer-top .footer-part3 a:hover {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

footer .footer-bottom .footer-part3 p {
  color: var(--font-color4);
  margin-right: 19px;
}

footer .footer-bottom .footer-part3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #484848;
  border-radius: 50%;
  margin: 0px 5px;
}
/* Footer End */
